@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:focus {
  outline: none !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

form input {
  outline: none; }

body {
  font-family: Lato-Regular, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  font-style: normal;
  color: #929a9f;
  background-color: #fff; }

.container {
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto; }

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  color: #263640; }

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.375; }

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.85;
  color: #263640; }

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #263640; }

h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2; }

h6 {
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.header {
  padding: 65px 0; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__btn {
    padding: 0 24px;
    background-color: #ff9900;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    display: flex;
    gap: 16px;
    width: 150px;
    align-items: center; }

.logo {
  height: 40px; }

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw; }
  .navbar__link {
    border-bottom: 2px solid transparent; }
  .navbar__link:hover {
    border-bottom: 2px solid #ff9900;
    transition: all 0.6s; }

.navbar a {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  padding: 0 8px;
  color: #263640;
  text-align: center;
  text-decoration: none; }

.dropdown {
  overflow: hidden; }

.dropdown .dropbtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  border: none;
  outline: none;
  color: #263640;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0; }

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #ff9900;
  transition: all 0.4s; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  padding: 0 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 400; }

.dropdown-content a:hover {
  background-color: #fff;
  transition: all 0.6s; }

.dropdown:hover .dropdown-content {
  display: block; }

.basic {
  padding-top: 31px; }
  .basic__inner {
    position: relative; }
  .basic__content {
    max-width: 430px;
    padding: 98px 0 169px; }
  .basic__name {
    font-weight: 500; }
  .basic__title {
    margin: 16px 0; }
  .basic__text {
    margin-bottom: 38px; }
  .basic__link {
    max-width: 215px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background-color: #ff9900;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    padding: 0 16px;
    transition: all 0.5s ease; }
    .basic__link::after {
      content: '';
      position: absolute;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.00003 0L0.590027 1.41L5.17003 6L0.590027 10.59L2.00003 12L8.00003 6L2.00003 0Z' fill='white'/%3e%3c/svg%3e") no-repeat center/cover;
      height: 12px;
      width: 8px;
      right: 24px; }
    .basic__link:hover::after {
      right: 18px; }
  .basic__picture {
    position: absolute;
    width: 593px;
    top: 0;
    right: 0; }
  .basic__open {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    transition: fill 0.5s; }
    .basic__open svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .basic__open:hover path {
      fill: #ff9900; }
  .basic__img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #f5f8fa; }

/* свойства модального окна по умолчанию */
.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  /* цвет фона */
  z-index: 5;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  /* при отображении модального окно */
  /* ширина модального окна и его отступы от экрана */ }
  .modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto; }
  .modal__dialog {
    position: relative;
    width: 712px;
    margin: 10px auto;
    text-align: center; }
  .modal__picture {
    width: 712px; }

/* свойства для кнопки "Закрыть" */
.close {
  position: absolute;
  top: 6px;
  right: 6px;
  font-family: sans-serif;
  color: #263640;
  text-decoration: none; }

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #929a9f;
  text-decoration: none;
  cursor: pointer; }

.service__bg {
  width: 100%;
  background-color: #f5f8fa;
  z-index: -1; }
.service__title {
  padding-top: 178px; }
.service__text {
  max-width: 526px;
  margin: 16px 0 80px; }
.service__inner {
  display: flex;
  align-items: baseline;
  gap: 10vw;
  flex-basis: 30%;
  padding-bottom: 246px; }
.service__article {
  flex-basis: 30%; }
.service__article-picture {
  position: relative;
  overflow: hidden;
  height: 333px;
  width: 100%; }
.service__article-img {
  height: 333px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.07)); }
.service__article-title {
  margin: 24px 0; }
.service__article-desc {
  margin: 24px 0; }
.service__article-link {
  position: relative;
  transition: all 1s;
  display: flex;
  align-items: center;
  max-width: 170px;
  font-weight: 500;
  color: #ff9900; }
  .service__article-link::after {
    content: '';
    position: absolute;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.00003 0L0.590027 1.41L5.17003 6L0.590027 10.59L2.00003 12L8.00003 6L2.00003 0Z' fill='%23ff9900'/%3e%3c/svg%3e") no-repeat center/cover;
    height: 12px;
    width: 8px;
    right: 24px; }
  .service__article-link:hover::after {
    right: 18px; }
.service__article-link .fa {
  vertical-align: top;
  margin-left: 16px; }

.history__inner {
  position: relative;
  display: flex;
  justify-content: flex-end; }
.history__content {
  position: absolute;
  width: 1009px;
  min-height: 584px;
  background-color: #263640;
  top: -107px;
  left: 0;
  padding: 98px 98px 74px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #f5f8fa; }
.history__title {
  margin: 25px 0;
  color: #fff;
  max-width: 560px; }
.history__desc {
  max-width: 418px;
  color: #fff;
  margin-bottom: 54px;
  line-height: 1.6; }
.history__hr {
  height: 2px;
  max-width: 500px;
  background-color: #929a9f;
  opacity: 0.2;
  margin: 0; }
.history__link {
  position: relative;
  transition: all 1s;
  display: flex;
  align-items: center;
  max-width: 190px;
  margin-top: 24px; }
  .history__link::after {
    content: '';
    position: absolute;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.00003 0L0.590027 1.41L5.17003 6L0.590027 10.59L2.00003 12L8.00003 6L2.00003 0Z' fill='%23929a9f'/%3e%3c/svg%3e") no-repeat center/cover;
    height: 12px;
    width: 8px;
    right: 24px; }
  .history__link:hover::after {
    right: 18px; }
.history__link .fa {
  vertical-align: top;
  margin-left: 16px; }
.history__picture {
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
  z-index: 1; }
.history__img {
  height: 660px;
  margin-top: -8px; }

.blog {
  padding-top: 75px; }
  .blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .blog__top-content {
    max-width: 488px; }
  .blog__top-title {
    color: #263640;
    margin-bottom: 2px; }
  .blog__top-link {
    max-width: 145px;
    flex-basis: 15%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background-color: #ff9900;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    padding: 0 16px;
    transition: all 0.5s ease; }
    .blog__top-link::after {
      content: '';
      position: absolute;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.00003 0L0.590027 1.41L5.17003 6L0.590027 10.59L2.00003 12L8.00003 6L2.00003 0Z' fill='white'/%3e%3c/svg%3e") no-repeat center/cover;
      height: 12px;
      width: 8px;
      right: 24px; }
    .blog__top-link:hover::after {
      right: 18px; }
  .blog__messages {
    padding: 64px 0 353px; }
  .blog__messages-subtitle {
    font-weight: 400;
    margin-bottom: 32px; }
  .blog__messages-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 44px; }
  .blog__messages-art {
    flex-basis: 32%; }
    .blog__messages-art--desc {
      margin: 20px 0; }
    .blog__messages-art--link {
      position: relative;
      transition: all 1s;
      display: flex;
      align-items: center;
      max-width: 190px;
      color: #ff9900;
      font-weight: 500; }
      .blog__messages-art--link::after {
        content: '';
        position: absolute;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.00003 0L0.590027 1.41L5.17003 6L0.590027 10.59L2.00003 12L8.00003 6L2.00003 0Z' fill='%23ff9900'/%3e%3c/svg%3e") no-repeat center/cover;
        height: 12px;
        width: 8px;
        right: 24px; }
      .blog__messages-art--link:hover::after {
        right: 18px; }
    .blog__messages-art--link .fa {
      vertical-align: top;
      margin-left: 16px; }

.contact__bg {
  background-color: #f5f8fa;
  padding: 101px 0 116px; }
.contact__inner {
  position: relative; }
.contact__content {
  max-width: 330px; }
.contact__subtitle {
  font-weight: 400; }
.contact__title {
  margin: 16px 0 24px;
  color: #263640; }
.contact__link {
  margin-top: 4px;
  max-width: 134px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  background-color: #ff9900;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  padding: 0 16px;
  transition: all 0.5s ease; }
  .contact__link::after {
    content: '';
    position: absolute;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.00003 0L0.590027 1.41L5.17003 6L0.590027 10.59L2.00003 12L8.00003 6L2.00003 0Z' fill='white'/%3e%3c/svg%3e") no-repeat center/cover;
    height: 12px;
    width: 8px;
    right: 24px; }
  .contact__link:hover::after {
    right: 18px; }
.contact__picture {
  position: absolute;
  top: -224px;
  right: 0;
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2)); }
.contact__img {
  height: 484px;
  object-fit: cover; }

.footer__bg {
  background-color: #263640; }
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 56px; }
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 106px;
  color: #fff; }
.footer__info-name--title {
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 9px; }
.footer__info-adress {
  font-style: normal; }
.footer__hr {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
  margin: 0; }
.footer__bottom {
  color: rgba(255, 255, 255, 0.5);
  padding: 37px 0; }
.footer__bottom-list {
  display: flex; }
.footer__bottom-list--item:not(:last-child)::after {
  content: '\20d2';
  margin: 0 12px 0 9px; }
.footer__bottom-list--item a:hover {
  border-bottom: 1px solid #929a9f; }
